<div class="container">
    <form autocomplete="off">
        <div class="ui-g">
            <div class="ui-g-12">
                <h1 class="alignTT"> Cadastro de Produtos:</h1>
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
                <label class="alignT">Nome do Produto: </label>
                <input pInputText type="text" name="nome">
            </div>

            <div class="ui-g-6 ui-md-4 ui-fluid">
                <label class="alignT">Preco: </label>
                <input pInputText type="text" name="preco">
            </div>

            <div class="ui-g-12">
                <button class="buttonS" pButton type="submit" label="Cadastrar"></button>
                <button class="buttonS" pButton type="button" label="Novo"></button>

                <a routerLink="/produtos" class="alignT"> Voltar para a Pesquisa</a>
            </div>
        </div>
    </form>
</div>